<h1>Bienvenue. Confirmez votre adresse email</h1>

<p>
    Afin de protéger l'accès à vos identifiants et le valider, veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.<br><br>
    Cordialement,<br>
    L'équipe Chris-dev.
</p>

<p>
    Ne répondez pas à ce message. Cette adresse email n'est pas consultée et nous ne serons pas en mesure de répondre aux messages que vous y enverrez.
</p>
