{# templates/mails/reply.html.twig #}
'<h1>Bonjour {{ firstname }} {{lastname}}!</h1>
===========================
<br><br>
<p>
    Vous nous avez contacté sur le site chris-dev.fr en tant que {{ status }}:
</p>
<p>Nous pourrions échanger plus longuement par mail ou téléphone, libre à vous de nous donner vos diponibilités à ce même email ou vos coordonnées téléphoniques. </p>
    
<p>Bonne journée et à bientôt</p>'